<div class="container">
  <div class="btn-logout">
    <div class="header-login">
      <p><strong>{{ user?.login }}</strong></p>
      <button mat-flat-button (click)="logout()">Logout</button>
    </div>
  </div>
  <div class="title">
    <h1>Lista de tarefas</h1>
  </div>
  <div class="addButton">
    <button mat-flat-button (click)="openTaskModal()">
      <div class="btn-icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        <div>Adicionar</div>
      </div>
    </button>
  </div>
  <mat-list class="list" role="list">
    @if (loading) {
      <mat-spinner class="spinner"></mat-spinner>
    } @else {
    @for(task of tasksPaginated.tasks; track task) {
    <mat-list-item class="card" role="listitem">
      <mat-card [class.card-done]="task.done" class="card-in">
        <mat-card-header class="card-header">
          <mat-card-title><strong>{{ task.title }}</strong></mat-card-title>
          <mat-card-subtitle>{{ task.description }}</mat-card-subtitle>
          @if (task.done) {
            <mat-icon id="icon-done" aria-hidden="false" aria-label="Example home icon" fontIcon="check"></mat-icon>
          }
        </mat-card-header>
        <mat-card-actions class="card-actions">
          <button class="btn-icon" mat-flat-button (click)="openTaskModal(task)">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="update"></mat-icon>
            <div>Atualizar</div>
          </button>
          <button class="btn-icon" mat-flat-button (click)="removeTask(task)">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
            <div>Remover</div>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-list-item>
    }
  }
  <mat-paginator
    #paginator
    class="paginator"
    [length]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
  </mat-list>
</div>
