<div class="container">
  <mat-card class="login" appearance="outlined">
    <div>
      <mat-card-header>
        <mat-card-title class="title">
          <h1>Lista de tarefas - Cadastro</h1>
        </mat-card-title>
      </mat-card-header>
    </div>
    <div>
      <mat-card-content>
        @if (loading) {
        <mat-spinner></mat-spinner>
        } @else {
        <form [formGroup]="formRegister" class="loginForm">
          <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput formControlName="login">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Confirmar senha</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
        </form>
        }
      </mat-card-content>
    </div>
      <div class="button-list">
        <mat-card-actions>
          <a mat-flat-button (click)="send()">Enviar</a>
        </mat-card-actions>
      </div>
  </mat-card>
</div>
